@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?8p1wjy');
	src:url('fonts/icomoon.eot?#iefix8p1wjy') format('embedded-opentype'),
		url('fonts/icomoon.woff?8p1wjy') format('woff'),
		url('fonts/icomoon.ttf?8p1wjy') format('truetype'),
		url('fonts/icomoon.svg?8p1wjy#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-uniE900:before {
	content: "\e900";
}

.icon-uniE906:before {
	content: "\e906";
}

.icon-uniE91F:before {
	content: "\e91f";
}

.icon-uniE922:before {
	content: "\e922";
}

.icon-uniE971:before {
	content: "\e971";
}

.icon-uniE972:before {
	content: "\e972";
}

.icon-uniE987:before {
	content: "\e987";
}

.icon-uniE9BA:before {
	content: "\e9ba";
}

.icon-uniE9BD:before {
	content: "\e9bd";
}

.icon-uniEA0A:before {
	content: "\ea0a";
}

.icon-uniEA0B:before {
	content: "\ea0b";
}

.icon-uniEA0F:before {
	content: "\ea0f";
}

.icon-uniEA14:before {
	content: "\ea14";
}

.icon-facebook3:before {
	content: "\ea8e";
}

.icon-instagram:before {
	content: "\ea90";
}

.icon-twitter:before {
	content: "\ea91";
}

