<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SelectSubFamilyById</servlet-name>
        <servlet-class>Controllers.SelectSubFamilyById</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSubfamily</servlet-name>
        <servlet-class>Controllers.UpdateSubfamily</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowPhotoForSpecificOrganism</servlet-name>
        <servlet-class>Controllers.ShowPhotoForSpecificOrganism</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePending</servlet-name>
        <servlet-class>Controllers.UpdatePending</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectPhotoById</servlet-name>
        <servlet-class>Controllers.SelectPhotoById</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSubscriber</servlet-name>
        <servlet-class>Controllers.DeleteSubscriber</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePost</servlet-name>
        <servlet-class>Controllers.DeletePost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchSubFamily</servlet-name>
        <servlet-class>Controllers.SearchSubFamily</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SelectSubFamilyById</servlet-name>
        <url-pattern>/SelectSubFamilyById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSubfamily</servlet-name>
        <url-pattern>/UpdateSubfamily</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowPhotoForSpecificOrganism</servlet-name>
        <url-pattern>/ShowPhotoForSpecificOrganism</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePending</servlet-name>
        <url-pattern>/UpdatePending</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectPhotoById</servlet-name>
        <url-pattern>/SelectPhotoById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSubscriber</servlet-name>
        <url-pattern>/DeleteSubscriber</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePost</servlet-name>
        <url-pattern>/DeletePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchSubFamily</servlet-name>
        <url-pattern>/SearchSubFamily</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
