@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot?7u1y5a');
    src:url('fonts/icomoon.eot?#iefix7u1y5a') format('embedded-opentype'),
        url('fonts/icomoon.woff?7u1y5a') format('woff'),
        url('fonts/icomoon.ttf?7u1y5a') format('truetype'),
        url('fonts/icomoon.svg?7u1y5a#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-file-text:before {
    content: "\e922";
    margin-right: 0.3em;
}

.icon-user:before {
    content: "\e971";
}

.icon-list:before {
    content: "\e9ba";
    margin-right: 0.3em;
}

.icon-menu:before {
    content: "\e9bd";
}

.icon-pencil:before {
    content: "\e905";
}

.icon-plus:before {
    content: "\ea0a";
    margin-left: 0.5em;
    margin-right: 0.5em;
    color: #8AE65C;
}
.icon-plus-button:before {
    content: "\ea0a";
    color: #8AE65C;
    margin-right: 0.5em;
}
.icon-cross:before {
    content: "\ea0f";
    margin-left: 0.5em;
    margin-right: 0.5em;
    color: #FF6666;
}
.icon-cross-button:before {
    content: "\ea0f";
    margin-right: 0.5em;
    color: #FF6666;
}

.icon-home:before {
    content: "\e900";
    margin-right: 0.5em;
}

.icon-pencil2:before {
    content: "\e906";
    margin-right: 0.5em;
    margin-left: 0.5em;
}
.icon-pencil2-button:before {
    content: "\e906";
    margin-right: 0.5em;
    
}

.icon-book:before {
    content: "\e91f";
    margin-right: 0.5em;
}

.icon-user:before {
    content: "\e971";
    margin-right: 0.5em;
}

.icon-users:before {
    content: "\e972";
    margin-right: 0.5em;
}
.icon-plus-insert:before {
    content: "\ea0a";
    font-size: 1.5em;
    color: #8AE65C;
    margin-bottom: 1em;
   
}
.icon-minus:before {
    content: "\ea0b";
    color: #5CADFF;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.icon-exit:before {
    content: "\ea14";
    margin-right: 0.5em;
}

.icon-search:before {
    content: "\e986";
    margin-right: 0.5em;
    margin-left: 0.5em;
}



