<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3307/omandb?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">usbw</property>
    <mapping resource="dal/Admin.hbm.xml"/>
    <mapping resource="dal/Worlds.hbm.xml"/>
    <mapping resource="dal/Food.hbm.xml"/>
    <mapping resource="dal/Habitat.hbm.xml"/>
    <mapping resource="dal/OrganismSeason.hbm.xml"/>
    <mapping resource="dal/HabitatOrganisme.hbm.xml"/>
    <mapping resource="dal/Geolocation.hbm.xml"/>
    <mapping resource="dal/Family.hbm.xml"/>
    <mapping resource="dal/Season.hbm.xml"/>
    <mapping resource="dal/Organism.hbm.xml"/>
    <mapping resource="dal/Downloads.hbm.xml"/>
    <mapping resource="dal/Post.hbm.xml"/>
    <mapping resource="dal/Subfamilly.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
